body {
  margin: 0;
  background: #FFFFFF;
  font-family: "Helvetica", sans-serif;
  font-size: 28px;
}


.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.calculator {
  width: 320px;
}

.calculator_display {
    background: #C0C0C0;
    padding: 0px 20px;
    height: 60px;
    color: #0000000;
    text-align: right;
    border-radius: 16px 16px 0px 0px;
    line-height: 60px;
}

.calculator_actions {
    background: #000000;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0px 0px 16px 16px;
    padding: 16px 4px;
}
.calculator_actions button {
    width: 48px;
    height: 36px;
    -webkit-appearance: none;
    outline: none;
    border: none;
    margin: 5px 15px;
    font-size: 20px;
}
.calculator_actions .action, .calculator_actions .operator {
    background: #FFCE00;
}